.about {
    display: grid;
    grid-template-columns: repeat(2, 868px);
    gap: 25px;

    align-items: center;
    margin: 0 auto;

    padding: 68px 80px;
    background: #fff;
}

.about__image {
    width: 866px;
    height: 650px;

    display: block;

    object-fit: cover;

    border-radius: var(--radius-m);

    background: var(--neutral-grey);

    box-shadow: 0 12px 32px rgba(0, 0, 0, .08);
}



.about__content {
    display: flex;
    flex-direction: column;
}

.about__title {
    color: var(--brand-primary-gold);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 21px;
}

.about__text {

    color: var(--neutral-grey-800);

    font-size: var(--font-body-large);
    margin-bottom: 65px;
}

.about__text--highlight {
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}


.about__stats {
    display: grid;
    grid-template-columns: 172px 202px 188px;
    gap: 102px;
    margin: 0px 49px 140px 49px;
    list-style: none;
    align-items: start;
}

.about__stat {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.about__stat-number {
    color: var(--brand-primary-gold);
    font-weight: var(--font-weight-bold);
}

.about__stat-label {
    color: var(--neutral-grey-800);
    font-weight: var(--font-weight-regular);
    text-align: start;
}


.about__link {
    align-self: flex-end;

    color: var(--neutral-grey-800);

    text-decoration: underline;
    text-underline-offset: 4px;

    font-size: var(--font-body-large);
    font-weight: var(--font-weight-medium);

    text-transform: uppercase;
    letter-spacing: .05em;

    transition: color .25s ease;
}

.about__link:hover {
    color: var(--brand-primary-gold);
}

/* ===========================
   TABLET
=========================== */

@media (max-width: 1100px) {

    .about {
        grid-template-columns: 1fr;

        gap: 40px;

        padding: 64px 60px;
    }

    .about__image {
        height: 420px;
    }

    .about__content {
        max-width: 720px;
    }

    .about__link {
        align-self: flex-start;
    }
}

/* ===========================
   MOBILE
=========================== */

@media (max-width: 768px) {

    .about {
        padding: 48px 24px;
    }

    .about__image {
        height: 260px;
    }

    .about__title {
        font-size: 34px;
    }

    .about__stats {
        grid-template-columns: 1fr;
        gap: 24px;

        margin: 32px 0;
    }

    .about__stat-number {
        font-size: 38px;
    }

    .about__link {
        align-self: flex-start;
    }
}