.faq-tabs {
    display: flex;
    gap: 24px;
}

.faq-tab {
    height: 48px;
    padding: 9px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #ffffff;

    border: 2px solid var(--neutral-grey-800);
    border-radius: 16px;

    color:  var(--neutral-grey-600);

    font-size: var(----font-label);

    cursor: pointer;

    transition:
        background .2s ease,
        color .2s ease,
        border-color .2s ease,
        transform .2s ease,
        box-shadow .2s ease;
}

.faq-tab:hover {
    background: var(--neutral-grey);
    color: #fff;;
}

.faq-tab.active {
    color: var(--neutral-black-800);
    border: 1px solid var(--neutral-black-900);
    background: var(--profile-icon-default);
}

.faq-tab:active {
    transform: scale(.97);
}

.faq-tab:focus-visible {
    outline: 2px solid var(--brand-primary-gold);
    outline-offset: 2px;
}

@media (max-width: 768px) {
    .faq-tabs {
        gap: 10px;
        overflow-x: auto;
        padding-bottom: 6px;

        scrollbar-width: none;
    }

    .faq-tabs::-webkit-scrollbar {
        display: none;
    }

    .faq-tab {
        flex-shrink: 0;

        height: 42px;

        padding: 0 18px;

        font-size: 16px;
    }
}